body {
    margin: 0;
}

/*主內容*/
.container {
    width: 900px;
    margin: 1px auto;
    font-size: 25px;
    line-height: 150%;
    word-spacing: 3px;


}

/*所有超連結*/
a {
    text-decoration: none;
}

/*NAV的ul*/
.navigation-menu {
    list-style: none;
    font-size: 15px;
    padding: 90;
    margin: 0 0 10px 0;
    background-color: white;
    /* shadow水平.垂直.模糊.顏色*/
    box-shadow: 5px 5px 10px gainsboro;

}

/*nav的li*/
.navigation-menu-item {
    display: inline-block;
    border-right: 1px solid white;
    padding: 15px;
}


/*li的超連結*/
li a:hover {
    color: purple;
}

/*照片變圓形*/
.myphoto {
    margin: px;
    border: 10px solid white;
    position:relative;
    bottom:-5px;
    left:30px;
}

.top2{
    width: 490px;
    margin: 0 auto;
}

h1,#h1{
position:relative;
    bottom: 15px;
    left:25px;   
}
 
.blockquote-chinese{
    color: white;
    font-style:oblique;
    position: relative;
    bottom: 400px;
    left: 260px;
    border-left: 3px solid white;
    padding-left:7px;
}
.blockquote-english{
    font-size: 20px;
    color: white;
    font-style:oblique;
    position: relative;
    bottom: 400px;
    left: 230px;
}


.top{
    background-size:  107%;
    background-image: url("20180716-59.jpg")
}
/*字型*/
p {
    font-family: 'Noto Sans TC', sans-serif;
}

h1,
h2 {
    font-family: 'Afacad', sans-serif;
}

li {
    font-family: 'Afacad', sans-serif;
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

table {
    font-family: 'Afacad', sans-serif;
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}


.middle-about,.middle-details,.middle-experience,.middle-educate,.middle-skill,.middle-personalPortfolio{
    background-color: gainsboro;
    position: relative;
    bottom: 260px;
    border-top:3px solid darkgray;  
    padding:20px 220px 50px 220px;
}

.middle-details,.middle-details,.middle-experience,.middle-educate,.middle-skill,.middle-personalPortfolio{
    width: 450px;
    
    font-size: 20px;
    background-color: darkgray;
}














form {
    font-size: 20px;
    background-color: gainsboro;
}

sup {
    color: red;
}

footer {
    padding: 0 30px 0 60px;
    border-top: 2px solid gray;
}

footer img {
    height: 100px;
    vertical-align: middle;

}

.imggithub {
    margin: 60px;
}

.imgig {
    margin: 60px;
}

.imgmail {
    margin: 60px;
}

