body {
    margin: 0;
}

/*主內容*/
.container {
    width: 900px;
    margin: 0 auto;
    font-size: 25px;
    line-height: 150%;
    word-spacing: 3px;


}

/*所有超連結*/
a {
    text-decoration: none;
}

/*NAV的ul*/
.navigation-menu {
    list-style: none;
    font-size: 15px;
    margin: 0 0 3px 0;
    background-color: white;
    /* shadow水平.垂直.模糊.顏色*/
    box-shadow: 5px 5px 10px gainsboro;

}

/*nav的li*/
.navigation-menu-item {
    display: inline-block;
    border-right: 1px solid white;
    padding: 15px;
}


/*li的超連結*/
li a:hover {
    color: purple;
}
.Info-me{
    height: 500px;
    background-image: url("20180716-59.jpg")
}
.myphoto{
    width: 300px;
    border-radius: 50%;
}
.Info-me-title{
    position: relative;
    top:40px;
    left:50px;
}
/*定位會跑掉*/
.Info-me-word{
    position: absolute;
    right: 220px;
    bottom: 320px;
}
.Info-me-word2{
    position: absolute;
    left: 200px;
    bottom: 320px;
}

.blockquote-chinese{
    color: white;
    font-style:oblique;
    border-left: 3px solid white;
    padding-left: 3px;
}
.blockquote-english{
    width: 550px;
    color: white;
    font-style:oblique;
}
.middle-about{
    background-color: gainsboro;
    position: relative;
}
.middle-about-chinese{
    width: 400px;
    border-right: 2px solid white;
    box-sizing: border-box;
    padding: 25px;
    
}
.middle-about-en{
    width: 500px;
    position: absolute;
    box-sizing: border-box;
    padding: 25px;
    top:0px;
    right:0px;
}
.middle-menu{
    height: 650px;
    background-color:#C0C0C0;
    position: relative;
     
    
}
.middle-menu-details{
    width: 370px;
    height:300px;
    background-color:gainsboro;
    position:absolute;
    top:3px;
    left:3px;
    padding: 0 0 5px 5px;
    box-shadow: 2px 2px 5px #696969;
}
.middle-menu-experience{
    width: 500px;
    height:300px;
    background-color: gainsboro;
    position:absolute;
    top:3px;
    right:2px;
    box-shadow: 2px 2px 5px #696969;
}
.middle-menu-educate{
    width: 500px;
    height:300px;
    background-color: gainsboro;
    position:absolute;
    bottom: 3px;
    right: 2px;
    box-shadow: 2px 2px 5px #696969;
}

.middle-menu-skill{
    width: 370px;
    height:300px;
    background-color: gainsboro;
    position:absolute;
    bottom: 3px;
    left: 3px;
    padding: 0 0 0 5px;
    box-shadow: 2px 2px 5px #696969 ;
}
.middle-personalportfolio{
    background-color: white;
}
h2{
    text-align:center;
}
.middle-personalportfolio-menu{
    background-color: ghostwhite;
    width: 90%;
    height: 300px;
    margin: 0 auto;
/*    這裡*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
}

.personalportfolio-menu-form{
    width: 200px;
    height: 250px;
/*    border: 1px solid #ccc;*/
}
.form-photo{
    width: 100%;
/*    border-bottom:1px solid #ccc;*/
    
}

.personalportfolio-menu-hello{
  
  width: 200px;
  height: 250px;
/*  border: 1px solid #ccc;*/
}
.html-photo{
  width: 100%;
/*   border-bottom:1px solid #ccc;*/
}


.personalportfolio-menu-table{
    width: 200px;
    height: 250px;
/*    border: 1px solid #ccc;*/
}

.table-photo{
    width: 100%;
/*     border-bottom:1px solid #ccc;*/
}


.Myvideo{
    height: 1200px;
   margin:20px;
   background-color:#333333;

}
.Myvideo-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}






/
/*字型*/
p {
    font-family: 'Noto Sans TC', sans-serif;
}

h1,
h2 {
    font-family: 'Afacad', sans-serif;
}

li {
    font-family: 'Afacad', sans-serif;
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

table {
    font-family: 'Afacad', sans-serif;
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}












.form{
    background-color: gainsboro;
}

form {
    width: 400px;
    margin: 0 auto;
    font-size: 20px;
    
}

sup {
    color: red;
}

footer {
    padding: 0 30px 0 60px;
    border-top: 2px solid gray;
}

footer img {
    height: 100px;
    vertical-align: middle;

}

.imggithub {
    margin: 60px;
}

.imgig {
    margin: 60px;
}

.imgmail {
    margin: 60px;
}

