 http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    margin: 0;
}

/*主內容*/
.container {
    width: 900px;
    margin: 0 auto;
    font-size: 25px;
    line-height: 150%;
    word-spacing: 3px;

}

/*所有超連結*/
a {
    text-decoration: none;
    color:black;
}
.navigation-menu{
  background:white;
  list-style:none;
  padding:0;
  overflow:hidden;
    font-size: 18px;
    box-shadow: 5px 5px 10px gainsboro;
    margin: 0 0 3px 0;
    position: fixed;
    z-index: 8;
}
.navigation-menu-item{
  float:left;
  
  border-right:1px solid white;
  padding:15px 25px 15px 25px;
}
li a{
  
  display:block;
  color:black;
}

/*li的超連結*/
a:hover {

    color:#FF8800;
}
.Info-me{
    
    position: relative;
    height: 500px;
    background-image: url("20180716-59.jpg")
   }
.myphoto{
    width: 250px;
    border-radius: 50%;
    border: 1px solid white; 
}
.Info-me-title{
    position: relative;
    top:10px;
    left:50px;
}

.Info-me-word{
    position: absolute;
    right: 120px;
    top: 30px;
}
.Info-me-word2{
    position: absolute;
    right: -30px;
    bottom: 220px;
}

.blockquote-chinese{
    color: white;
    font-style:oblique;
    border-left: 3px solid white;
    padding-left: 3px;
}
.blockquote-english{
    width: 550px;
    color: white;
    font-style:oblique;
}
.middle-about{
    background-color: gainsboro;
    position: relative;
}
.middle-about-chinese{
    width: 400px;
    border-right: 1px solid white;
    box-sizing: border-box;
    padding: 25px;
    
}
.middle-about-en{
    width: 500px;
    position: absolute;
    box-sizing: border-box;
    padding: 25px;
    top:0px;
    right:0px;
}
.middle-menu{
    height: 650px;
    background-color:#C0C0C0;
    position: relative;
     
    
}
.middle-menu-details{
    width: 370px;
    height:300px;
    background-color:gainsboro;
    position:absolute;
    top:3px;
    left:3px;
    padding: 0 0 5px 5px;
    box-shadow: 2px 2px 5px #696969;
}
.middle-menu-experience{
    width: 500px;
    height:300px;
    background-color: gainsboro;
    position:absolute;
    top:3px;
    right:2px;
    box-shadow: 2px 2px 5px #696969;
}
.middle-menu-educate{
    width: 500px;
    height:300px;
    background-color: gainsboro;
    position:absolute;
    bottom: 3px;
    right: 2px;
    box-shadow: 2px 2px 5px #696969;
}

.middle-menu-skill{
    width: 370px;
    height:300px;
    background-color: gainsboro;
    position:absolute;
    bottom: 3px;
    left: 3px;
    padding: 0 0 0 5px;
    box-shadow: 2px 2px 5px #696969 ;
}
.middle-personalportfolio{
    background-color: white;
}
h2{
    text-align:center;
}
.middle-personalportfolio-menu{
    background-color: ghostwhite;
    width: 90%;
    height: 350px;
    margin: 0 auto;
/*    這裡*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
}

.personalportfolio-menu-form{
    width: 200px;
    height: 250px;
/*    border: 1px solid #ccc;*/
}
.form-photo{
    width: 100%;
/*    border-bottom:1px solid #ccc;*/
    
}

.personalportfolio-menu-hello{
  
  width: 200px;
  height: 250px;
/*  border: 1px solid #ccc;*/
}
.html-photo{
  width: 100%;
/*   border-bottom:1px solid #ccc;*/
}


.personalportfolio-menu-table{
    width: 200px;
    height: 250px;
/*    border: 1px solid #ccc;*/
}

.table-photo{
    width: 100%;
/*     border-bottom:1px solid #ccc;*/
}
.middle-personalportfolio-menu{
    text-align:center;
}

.Myvideo{
    height: 1200px;
   margin:20px;
   background-color:#333333;

}

.Myvideo-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}
.Myvideo-menu-title,.Myvideo-menu-title2{
    color: aliceblue;
}





/
/*字型*/
p {
    font-family: 'Noto Sans TC', sans-serif;
}

h1,
h2 {
    font-family: 'Afacad', sans-serif;
}

li {
    font-family: 'Afacad', sans-serif;
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

table {
    font-family: 'Afacad', sans-serif;
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}












.form{
    background-color: gainsboro;
}

form {
    width: 400px;
    margin: 0 auto;
    font-size: 20px;
    
}
input{
    padding:8px;
}

sup {
    color: red;
}

footer {
    border-top: 2px solid gray;
    display: flex;
    justify-content: space-evenly;
}

footer img {
    height: 100px;
    vertical-align: middle;

}

.imggithub {
    margin:10px
}

.imgig {
    margin: 10px;
}

.imgmail {
    margin: 10px;
}

